@charset "UTF-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}

header {
	text-align: center;
}
