* {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
}

.page-title {
    width: 100%;
    text-justify: center;
    margin-left: auto;
    margin-right: auto;
}

.header-bar {
    text-justify: center;
    justify-content: center;
    width: 50%;
    box-sizing: content-box;
    background-color: #edecec;
    border: 2px solid gray;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

h1 {
    text-justify: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    
}

.bookmark {
    display: flex;
    width: 100%;
    min-width: 500px;
    margin-top: 10px;
    background-color: #edecec;
    border: 2px solid rgb(173, 170, 170);
    border-radius: 10px;
}
 .bookmark-title {
    display: inline-block;
    align-content: center;
    max-width: 70%;
    min-width: 300px;
}
.bookmark-description {
    display: inline-block;
    align-content: center;
    max-width: 70%;
    min-width: 300px;
}

.bookmark-link, .rating {
    display: inline-block;
    align-content: center;

}

.bookmark-title, .bookmark-description, .bookmark-link, .rating, button, a, select {
    background-color: lightgrey;
    border: 1px solid gray;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    padding: 0px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

label {
    margin-left: 10px;
    margin-bottom: 10px;
}