* {
    box-sizing: border-box;
    border-collapse: collapse;
}

body {

	width: 100%;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    background-color: white;
    color: black;
}


header {
	text-align: center;
}


.page-title, h1, div, .container {
    justify-content: center;
    text-justify: center;
    margin-left: auto;
    margin-right: auto;
}

.header-bar {
    text-justify: center;
    justify-content: center;
    box-sizing: content-box;
    background-color: #edecec;
    border: 2px solid gray;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.bookmark {
    max-width: 80%;
    margin-top: 10px;
    background-color: #edecec;
    border: 2px solid rgb(173, 170, 170);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    align-content: center;
    text-justify: center;
}

.bookmark-title, .bookmark-description, .bookmark-link, .rating, button, a, select {
    background-color: lightgrey;
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    padding: 0px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    align-content: center;
    text-justify: center;
}

label {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}